@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

label {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 560px) {
  input {
    width: 350px;
  }
  label {
    font-size: 20px;
    font-weight: lighter;
  }
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  label {
    margin-left: 10%;
  }
  input {
    width: 300px;
    margin-left: 10%;
  }
  button {
    margin-left: 10%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
